.transportes{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.vehiculos{
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}
.Barrabeneficio{
    background:black;
    border-bottom: 50px solid darkgray;
    justify-content: space-around;
    display: flex;
    

}
form{flex-wrap: wrap ;
    padding-left:250px;
    
    background: white;
    


    flex-wrap: wrap ;

}
label{
    display: block;
}
input{
    flex-wrap:wrap;
    width: 700px;
    height: 50px;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
.boton{
    display: flex;
    
    justify-content: center;
    
    margin-top: 50px;
    
    
}
.boton button{
    background:forestgreen;
    color: white;
    border:none;
    padding: 10px 300px;
    border-radius: 5px;
    
    cursor: pointer;
    

}
.boton button:hover{
background:red;
}


.tituloB{justify-content: space-around;
    display: flex;
    font-size: 25px;
    padding-top: 50px;
    background: white;

}
.imgbeneficio{
    align-items: center;
}

@media(max-width:500px){
    .transportes{
        flex-direction: column;
align-content: center;

    }
input{
    width: 200px;
}


}